.popup__input {
  width: 100%;
  margin-bottom: 30px;
  padding-bottom: 8px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-weight: normal;
  font-size: 14px;
  line-height: calc(17 / 14);
}

.popup__input:focus {
  outline: none;
}
