.button_type_edit {
  align-self: center;
  min-width: 24px;
  height: 24px;
  margin-top: 7px;
  border: 1px solid #fff;
  background: url(../../../images/icon-edit.svg) no-repeat center / 10px;
}

.button_type_edit:hover {
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .button_type_edit {
    min-width: 18px;
    height: 18px;
    margin-top: 0;
    background-size: 5.25px;
  }
}
