.button_type_edit {
  display: inline-flex;
  min-width: 24px;
  height: 24px;
  border: 1px solid #fff;
  background: url(../../../images/icon-edit.svg) no-repeat center / 10px;
}

@media screen and (max-width: 767px) {
  .button_type_edit {
    width: 18px;
    height: 18px;
    background-size: 5.25px;
  }
}
