.button_type_add {
  box-sizing: border-box;
  min-width: 150px;
  height: 50px;
  margin-bottom: 2px;
  margin-left: auto;
  border: 2px solid #fff;
  border-radius: 2px;
  background: url(../../../images/icon-add.svg) no-repeat center / 22px;
  transition: opacity .3s ease;
}

.button_type_add:hover {
  opacity: .6;
}

@media screen and (max-width: 1023px) {
  .button_type_add {
    width: 100%;
    margin-top: 33px;
  }
}

@media screen and (max-width: 767px) {
  .button_type_add {
    margin-bottom: 0;
    padding: 0;
    background-size: 16px;
  }
}
