.button_type_save {
  width: 100%;
  margin-top: 18px;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 2px;
  color: #fff;
  font-weight: normal;
  font-size: 18px;
  line-height: calc(22 / 18);
  text-align: center;
  background-color: #000;
  transition: opacity .3s ease;
}

.button_type_save:hover {
  opacity: .8;
}

@media screen and (max-width: 767px) {
  .button_type_save {
    margin-top: 15px;
    font-size: 14px;
    line-height: calc(17 / 14);
  }
}
