.button_type_add {
  box-sizing: border-box;
  min-width: 150px;
  height: 50px;
  border: 2px solid #fff;
  background: url(../../../images/icon-add.svg) no-repeat center / 22px;
}

@media screen and (max-width: 1023px) {
  .button_type_add {
    width: 100%;
    margin-top: 33px;
  }
}

@media screen and (max-width: 767px) {
  .button_type_add {
    padding: 0;
    background-size: 16px;
  }
}
