.profile__title {
  max-width: 538px;
  margin: 0;
  overflow: hidden;
  font-weight: 500;
  font-size: 42px;
  font-style: normal;
  line-height: 1.04;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 767px) {
  .profile__title {
    font-size: 27px;
  }
}
