.profile__name {
  display: flex;
  align-items: baseline;
  margin-top: 22px;
  margin-bottom: 11px;
}

@media screen and (max-width: 767px) {
  .profile__name {
    margin-top: 26px;
    padding-left: 26px;
  }
}
