.profile__avatar {
  min-width: 120px;
  height: 120px;
  margin-right: 30px;
  border-radius: 50%;
  background: url(../../../images/avatar.png) no-repeat center / cover;
}

@media screen and (max-width: 767px) {
  .profile__avatar {
    margin-right: 0;
  }
}
