@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/page/__header/page__header.css);
@import url(../blocks/header/header.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/button/button.css);
@import url(../blocks/button/_type/button_type_add.css);
@import url(../blocks/button/_type/button_type_edit.css);
@import url(../blocks/button/_type/button_type_like.css);
@import url(../blocks/content/content.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__user/profile__user.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__description/profile__description.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/page/__gallery/page__gallery.css);
@import url(../blocks/gallery/gallery.css);
@import url(../blocks/gallery/__image/gellery__image.css);
@import url(../blocks/gallery/__item/gallery__item.css);
@import url(../blocks/gallery/__caption/gallery__caption.css);
@import url(../blocks/gallery/__title/gallery__title.css);
